<center>
  <head>
    <style>
    body {
    background: url("http://upload.wikimedia.org/wikipedia/commons/c/c6/Fleet_5_nations.jpg") no-repeat fixed;
       -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Gill Sans MT, white, sans-serif;
    font-size: 30px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    </style>
    </head>

  <div>
<h1>Welcome to Battleships!</h1>
</div>
<a href='/newplayer'>New Game</a>

</center>

